.myBtn {
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    text-decoration: none;
    outline: none;
}

.myBtn:focus {
    /* color: var(--highlight-color) !important;
    text-shadow: none;
    box-shadow: none;
    text-decoration: none; */
}

.myBtn:hover {
    color: inherit;
    background: var(--highlight-color);
    box-shadow: 0 0.5rem 1rem var(--highlight-color);
}
