.btn_circle {
    width: 35px;
    height: 35px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
    color: var(--fill-color);
    border-color: var(--fill-color);
    margin-left: 0.95em;
    margin-right: 0.5em;

    @media (max-width: 992px) {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}




@media (hover: hover) and (pointer: fine) {
    .btn_circle:hover {
        color: var(--highlight-color);
        border-color: var(--highlight-color);
    }
}

.btn_circle:active {
    color: var(--highlight-color);
    border-color: var(--highlight-color);
}
