.modaretor_container {
    max-width: 600px;
}

.close {
    display: block;
    width: 17px;
    height: 17px;
    border-color: inherit;
    background:
        -webkit-linear-gradient(
            -45deg,
            transparent 0%,
            transparent 46%,
            var(--highlight-color) 46%,
            var(--highlight-color) 56%,
            transparent 56%,
            transparent 100%
        ),
        -webkit-linear-gradient(
                45deg,
                transparent 0%,
                transparent 46%,
                var(--highlight-color) 46%,
                var(--highlight-color) 56%,
                transparent 56%,
                transparent 100%
            );
    background-color: inherit;
}

.add_moderator_container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
}

.moderators_container {
    background: inherit;
    color: var(--dark-ligth);
    border-color: var(--bright-color);
}

.add_moderator_input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    appearance: none;
    background-clip: padding-box;
    border: 1px solid var(--highlight-color);
    border-radius: 0.375rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    background: var(--opposite);
    color: var(--highlight-color) !important;
    border-color: var(--highlight-color);
    outline: var(--green);
    border-right: none;
}

.add_moderator_input:focus {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    appearance: none;
    background-clip: padding-box;
    border: 1px solid var(--highlight-color);
    border-radius: 0.375rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    background: var(--opposite);
    color: var(--highlight-color) !important;
    border-color: var(--highlight-color);
    outline: var(--green);
    border-right: none;
}

.add_moderator_button:hover {
    color: inherit;
    background: var(--highlight-color) !important;
    box-shadow: 0 0.5rem 1rem var(--highlight-color) !important;
}
