.svg_logo {
    fill: var(--dark-ligth);
}

@media (hover: hover) and (pointer: fine) {
    .svg_logo:hover {
        fill: var(--highlight-color);
    }
}

.svg_logo:active {
    fill: var(--highlight-color);
}


.my_svg {
    fill: var(--fill-color);
}

.tournament_default_svg {
    fill: var(--fill-color);
    width: 560px;
    height: 325px;

    @media (max-width: 992px) {
        width: 420px;
        height: 320px;
    }

    @media (max-width: 576px) {
        width: 320px;
        height: 180px;
    }
}

.tournament_svg {
    width: 280px;
    height: 250px;
}

.match_svg {
    display: block;
    fill: var(--dark-ligth);
    background: var(--opposite);
    border: none;
}

.match_svg:hover {
    fill: var(--highlight-color);
}

.tools_svg {
    display: block;
    fill: red;
    background: var(--opposite);
    border: none;
}

.tools_svg:hover {
    fill: var(--dark-ligth-green);
}
