.warningP {
    color: rgb(180, 118, 118);
}

.myInput {
    background: var(--opposite);
    color: var(--dark-ligth);
    border-color: var(--dark-green);
    outline: var(--green);
}

.myInput:focus {
    background: var(--opposite);
    color: var(--dark-ligth);
    border-color: var(--green);
    outline: var(--green);
}

.myFormLabel {
    color: var(--dark-ligth);
}
