.create_tournament_form {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70%;
    @media (max-width: 992px) {
        width: 80%;
    }

    @media (max-width: 576px) {
        width: 90%;
    }
}

.editional_settings_btn {
    font-size: 16px;
    margin-bottom: 10px;
}

.myFormLabel {
    color: var(--dark-ligth);
}

.error_container {
    margin-top: 10px;
    color: rgb(180, 118, 118);
}

.additional_settings_wrapper {
    display: flex;
    flex-direction: row;

    @media (max-width: 576px) {
        flex-direction: column;
    }
}

.se_additional_settings {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.se_additional_settings:nth-child(1n) {
    margin-right: 5px;

    @media (max-width: 576px) {
        margin-right: 0px;
    }
}

.se_additional_settings:nth-child(2n) {
    margin-left: 5px;

    @media (max-width: 576px) {
        margin-left: 0px;
        margin-top: 10px;
    }
}
