.create_tournament_form {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70%;
    @media (max-width: 992px) {
        width: 80%;
    }

    @media (max-width: 576px) {
        width: 90%;
    }
}

.editional_settings_btn {
    margin-bottom: 15px;
}

.myFormLabel {
    color: var(--dark-ligth);
}

.error_container {
    margin-top: 10px;
    color: rgb(180, 118, 118);
}
