.myModalHeader {
    color: var(--dark-ligth);
    background: var(--opposite);
    border-bottom: 1px solid var(--border-color);
}

.myModalBody {
    color: var(--dark-ligth);
    background: var(--opposite);
}

.full {
}

.myBracketDownloadBtn {
    margin-left: 30%;
    margin-right: 30%;
}
